.group {
    border-style: solid;
    border-width: thin;
    margin-bottom: 10px;
    width: 400px;
    height: 90px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.groupContent {
    margin-left: 10px;
}
.passGroup{
    border-style: solid;
    border-width: thin;
    margin-bottom: 10px;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}
.passButton {
    height: 50px;  
}
button {
    height: 45px;
    width: 170px;
}
@media screen and (max-width: 960px) { 
.group {
    max-width: 75%;
    height: 110px;
}
button {
    max-width: 45%;
    height: 60px;
}
}