#pass{
    margin-top: 100px;
    display:flex;
}
#passContent{
    margin-top: 20px;
    margin-left: 60px;
    column-count: 4;
    column-gap: 20px;   
}
#noData{
    display:grid;
    height: 50px;
    width: 150%;
    margin: 10px;     
    border: 1px solid #e6e6e6;
	border-radius: 1px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.751),
	            0 25px 30px 0 rgba(0, 0, 0, 0.719);
            
}
#video{
    scale:0.5;
    max-width: 100px;
    max-height: 100px;    
}
#loading{
    display: flex;
    align-items: center;
    justify-content: center;
}
#loading-text{
    
}