#pass{
    margin-top: 100px;
    display:grid;
    margin-left: 10px;
}
#passContent{
    margin-top: 50px;
    margin-left: 60px;
    column-count: 3;
    column-gap: 0px;
}

#logos2{
   
}

#loading{
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttons {
    border-radius: 12px;
    background-color: #FFFFFF;
    color: #5E276F;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-style: solid;
    border-width: thin;
    margin: 10px 10px 10px 0;
  }
  
 #buttons:hover {
    background-color: #5E276F;
    color: #FFFFFF;
  }
  
  #buttons:active {
    color: #9B9B9B;
  }
@media screen and (max-width: 960px) { 
    #pass{
    margin-left: -5px;
    }
    #passContent {
        column-count: 1;
        margin-left: 10px;
    }
    #passbutton{
        display:grid;
        margin-left: 100px;
    }
    #buttons{
        max-width: 100%;
    }
}