.loadingImg {
    animation: rotate 1s infinite linear; /* Adjust the animation duration as needed */
    position: absolute;
    left: 47%;
    top: 47%;
    transform: translate(-47%, -47%);
    width: 98px;
    height: 98px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
